{% extends '../base.html' %}

<!-- Static -->
{% load static %}

<!-- Block Content -->
{% block content %}

<div class="row">
  <div class="col-md-9">
    <div class="card shadow border-0">
      <div class="card-body p-4">
        <h4 class="mb-4">Cart</h4>
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Product</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for item in cart_items %}
              <tr>
                <td>
                  <a href="{{ item.product.get_url }}">
                    <div class="row gx-2 align-items-center">
                      <div class="col-4">
                        <img
                          src="{{ item.product.image.url }}"
                          alt=""
                          class="img-thumbnail"
                          style="height: 100px"
                        />
                      </div>
                      <div class="col-8">
                        <h5 class="text-dark mb-2">{{ item.product.name }}</h5>
                        <h6 class="text-primary">
                          {{ item.product.category.name }}
                        </h6>
                      </div>
                    </div>
                  </a>
                </td>
                <td>
                  <input
                    class="form-control"
                    type="number"
                    value="{{ item.quantity }}"
                  />
                  <a
                    href="{% url 'remove_from_cart' item.product.id %}"
                    class="btn btn-sm btn-outline-danger"
                  >
                    <i class="fal fa-minus"></i>
                  </a>
                  <a
                    href="{% url 'add_to_cart' item.product.id %}"
                    class="btn btn-sm btn-outline-primary"
                  >
                    <i class="fal fa-plus"></i>
                  </a>
                </td>
                <td>
                  <p>
                    <i class="fal fa-rupee-sign"></i>
                    <span>{{ item.sub_total }}/-</span>
                  </p>
                </td>
                <td>
                  <p>
                    <i class="fal fa-rupee-sign"></i>
                    <span>{{ item.product.price }}/-</span>
                  </p>
                </td>
                <td>
                  <a
                    href="{% url 'delete_from_cart' item.product.id %}"
                    class="btn btn-sm btn-danger"
                  >
                    <i class="fal fa-trash"></i>
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="9">
                  <h6 class="text-center">No items in cart!</h6>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card shadow border-0">
      <div class="card-header">
        <h4>Cart Overview</h4>
      </div>
      <div class="card-body p-4">
        <h6 class="d-flex justify-content-between mb-2">
          <span>Total : </span>
          <span><i class="fal fa-rupee-sign"></i> {{ total }}</span>
        </h6>
        <h6 class="d-flex justify-content-between mb-2">
          <span>Tax : </span>
          <span><i class="fal fa-rupee-sign"></i> {{ tax }}</span>
        </h6>
        <h6 class="d-flex justify-content-between mb-4">
          <span>Grand Total : </span>
          <span><i class="fal fa-rupee-sign"></i> {{ grand_total }}</span>
        </h6>
        <a href="#" class="btn d-block btn-primary">Checkout</a>
      </div>
    </div>
  </div>
  <!-- Block Content -->
</div>

{% endblock content %}
