{% extends '../base.html' %}

<!-- Static -->
{% load static %}

<!-- Block Content -->
{% block content %}

<div class="row gx-4 gy-4">
  {% for product in products %}
  <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card shadow border-0 product-card">
      <div class="image">
        {% if not product.image %}
        <img
          src="{% static 'images/product-placeholder.jpg' %}"
          class="card-img-top"
          alt="Dummy Image"
        />
        {% else %}
        <img
          src="{{ product.image.url }}"
          class="card-img-top"
          alt="{{ product.name }}"
        />
        {% endif %}
      </div>
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <h6>&#8377; <b>{{ product.price }}</b></h6>
        <a href="#" class="btn btn-sm btn-primary mt-2">Add To Cart</a>
      </div>
    </div>
  </div>
  {% empty %}
  <div class="col-lg-12">
    <h5>No products found</h5>
  </div>
  {% endfor %}
</div>

{% endblock content %}
<!-- Block Content -->
